<!DOCTYPE html>
<html>

<head>
<title>sanjana_parlor</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap_min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style_1.css') }}">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/Staff">Staff</a></li>
<li><a href="/Customer">Customer</a></li>
</ul>
</nav>

<h1> Sanjana Parlor </h1>
<h2> What you want to do today ? </h2>
<div>
<a href="/Cart">
<button type="button" class="btn btn-primary btn-lg">Cart</button><br>
</a>
<a href="/Search">
<button type="button" class="btn btn-primary btn-lg">Search</button><br>
</a>
<a href="/Filter">
<button type="button" class="btn btn-primary btn-lg">Filter</button><br>
</a>
<a href="/Suggestion">
<button type="button" class="btn btn-primary btn-lg">Suggestions </button><br>
</a>
<a href="/Allergens">
<button type="button" class="btn btn-primary btn-lg">Add Allergens</button><br>
</a>

</div>

</body>

</html>