<!DOCTYPE html>
<html>
<head>
<title>feedback</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="style_1.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<style>
form {
  background-color:#ccccff;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  border-radius:30px;
  padding: 30px;
}
</style>
</head>
<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/Staff">Register</a></li>
<li><a href="/Customer">login</a></li>
</ul>
</nav>
<div class="jumbotron">
  <h1 class="display-4"><u>Suggestions</u></h1>
</div>
<div>
<form action = '/Suggestions_result' method= "post">
<h2>Suggestions form </h2>
        <form id="allergens" action = '/Suggestions_result' method= "post">
        <label>Customer ID</label><br>
        <input type="text" name = "customer_id" id="name" required><br><br>
        <label>Suggestion</label><br>
        <input type="text"  name = "s" id="name" required><br><br>
        <div class="form-submit-btn">
        <input type="submit" value="Submit">
        </div>
        </form> 

</form>
</div>
</body>
</html>